# vim swap files
*.swp

# tags files
tags

# python environments
venv2
venv3
venv
env
.env
.venv

# python files
*.pyc
__*

# vs files
.vs
CMakeSettings.json

# vs code
.vscode


# compiled files
*.out

=========================================================
# my fav testing location
srb_test

# my own ignore files
*.srb
srb_*
.srb_test


================================================

# vim swap files in windows
*~